
*, *::before, *::after {
    box-sizing: border-box;
}

* :focus {
    outline: none;
    outline: 1px solid black;
}


#vizJourney {
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    /* justify-items: start; */
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    
    padding: 0 25px;
    gap: 0 25px;
    
    /* background: #101010; */
    
    & svg {
        display: block;
        margin: auto;
        background: black;
        grid-area: 1 / 2 / 3 / 2;
    }
    
    & .sorting {
        width: 100%;
        /* background: #00000050; */
        
        & h1 {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif !important;
            font-size: 40px;
            padding: 10px;
        }

        & input {
            width: 100%;
            padding: 10px;
            background: black;
            color: white;
            border: 1px solid #00000068;
        }

        & ul {
            list-style: none;
            padding: unset;
            max-height: 25rem;
            border: 1px solid white;
            border-bottom: unset;

            overflow: scroll;
            
            & li {
                padding: 10px;
                border-bottom: 1px solid #ffffff50;
                color: white;
                background: black;
            }

            & li:hover {
                background: white;
                border: 1px solid white;
                color: black;
            }
        }
    }

    #journeyControls {
        grid-area: 2 / 1;
        align-self: end;

        height: 15rem;
        background: black;
        width: 100%;
    }
}